/*
color
------------------------------ */

$color-primary: #ac8264;
$color-primary-transparent: #ac8264e6;
$color-primary-light: #f8f2ef;
$color-primary-light-transparent: #f8f2efb3;
$color-secondary: #3b9bac;
$color-white: #ffffff;
$color-black: #555555;
$color-grey: #aaaaaa;

/*
font
------------------------------ */
$font-family-jp: 'Noto Sans JP', sans-serif;
$font-family-en: 'Cormorant Garamond', serif;
$font-family-en-c: 'Pinyon Script', cursive;